/* add font family, background image */
body {
    background: url("bg-img.jpg") center center fixed;
    background-size: cover;
    color: #fff;
    font-family: Arvo, serif;
}

/* JUMBOTRON */
.jumbotron{
    background-color: transparent;
    margin: 0;
    padding: 10px;
}

.jumbotron h1{
    letter-spacing: 2.5px;   
}

.jumbotron h1, .jumbotron p {
    text-align: center;
}

button {
    margin-top: 20px;
}

/*map*/
#googleMap{
    width: 100%;   
    height: 200px;
    margin: 10px auto;
}

/*output box*/
#output{
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}